/*  logo */

.header .web,
.header .studio,
.footer .web,
.footer .studio {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $logo-main-color;
}

.header .studio {
  color: $logo-header-color;
}

.footer .studio {
  color: $logo-footer-color;
}
